
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("About us", "aboutus",new {name="shekhar"})
        @Html.TextBox("TxtBox1","",new { id="TXTBOXID",@class="TXTCLASS",style="width:500px"})
        @Html.CheckBox("Checkbox",true)
        @Html.Password("txtpassword")
    </div>
    <div>
       
    </div>
</body>
</html>
