@using MVCPractice.Models
@model StronglyTypedEmployee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index1", "StronglyTypeHTMLHelper"))
    {

            @Html.TextBoxFor(x => x.Name)<br />
            @Html.TextBoxFor(x => x.Address)<br />
            @Html.CheckBoxFor(x => x.IsEmployee)<br />
            <input type="submit" value="click me" />
  
    }
</body>
</html>
